body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    clear: both;
}

#wordclouds {
    flex-grow: 1;
}

#footer {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 10px;
    flex-direction: column;
}

#footer a svg{
    width: 2.3em;
    margin-bottom: 10px;
    margin-top: 1.5em;
}